body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 50%;
    margin: auto;
    height: 2500px;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 20px;
}
.menu li{
    padding: 10px;
}
.menu li a{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: white;
}
.menu li a:hover{
    opacity: 0.7;
}
h1{
    font-size: 5em;
    letter-spacing: 7px;
    padding: 20px;
    font-style: italic;
    text-align: center;
}
h2{
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
.cabeza{
    width: 900px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
    border: 1px solid white;
}
.cabeza ul a{
    color: rgb(231, 119, 119);
}
h1 a{
    color: rgb(44, 42, 42);
    text-decoration: none;
}
h1 a:hover{
    opacity: 50%;
}
.container {
    width: 90%;
    display: grid;
    grid-template-areas:
        "header header"
        "section nav"
        "bike bike"
        "footer footer";
    grid-gap: 20px;
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: #003366;
    color: white;
    text-align: center;
}
hr{
    width: 600px;
    border: 1px dotted rgb(231, 119, 119);
}
.section {
    grid-area: section;
}
.lorem{
    display: grid;
    grid-template-rows: 500px 500px ;
}
.bike {
    grid-area: bike;
    display: flex;
    justify-content: space-around;
}
.bike-uno img{
    box-shadow: 7px 7px 7px;
    color:rgb(151, 25, 25);
}
.bike-dos img{
    box-shadow: 7px 7px 7px;
    color: rgb(133, 21, 21);
}
.lorem img {
    width: 200px;
    height: 100%;
}

.pie {
    grid-area: footer;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}
.redes{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.redes li a{
    padding: 10px;
    font-size: 25px;
}
.redes li a:hover{
    opacity: 0.8;
}
.redes li a i{
    filter: invert(60%);
}